.react-calendar {
    border: none;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
  }
  
  .react-calendar__tile {
    text-align: center;
    padding: 10px;
    margin: 2px;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .react-calendar__tile--active {
    background: #8cab91;
    color: white;
    font-weight: bold;
  }
  
  .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    background: #8cab91;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 5px;
  }
  
  .react-calendar__month-view__weekdays {
    font-weight: bold;
    color: #555;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #d9534f;
  }
  